[submodule "diagnosis"]
	path = diagnosis
	url = https://github.com/arschool/diagnosis.git
[submodule "fortune"]
	path = fortune
	url = https://github.com/arschool/fortune.git
[submodule "05/fortune"]
	path = 05/fortune
	url = https://github.com/arschool05/fortune.git
